<%= form_for(@participation) do |f| %>
  <% if @participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participation.errors.count, "error") %> prohibited this participation from being saved:</h2>

      <ul>
      <% @participation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :captain %><br>
    <%= f.text_field :captain %>
  </div>
  <div class="field">
    <%= f.label :coxswain %><br>
    <%= f.text_field :coxswain %>
  </div>
  <div class="field">
    <%= f.label :participated %><br>
    <%= f.text_field :participated %>
  </div>
  <div class="field">
    <%= f.label :late %><br>
    <%= f.check_box :late %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
