<h1>Listing participations</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Member</th>
      <th>Event</th>
      <th>Captain</th>
      <th>Coxswain</th>
      <th>Participated</th>
      <th>Late</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @participations.each do |participation| %>
      <tr>
        <td><%= participation.id %></td>
        <td><%= participation.member %></td>
        <td><%= participation.event %></td>
        <td><%= participation.captain %></td>
        <td><%= participation.coxswain %></td>
        <td><%= participation.participated %></td>
        <td><%= participation.late %></td>
        <td><%= link_to 'Show', participation %></td>
        <td><%= link_to 'Edit', edit_participation_path(participation) %></td>
        <td><%= link_to 'Destroy', participation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participation', new_participation_path %>
