<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @participation.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @participation.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @participation.event %>
</p>

<p>
  <strong>Captain:</strong>
  <%= @participation.captain %>
</p>

<p>
  <strong>Coxswain:</strong>
  <%= @participation.coxswain %>
</p>

<p>
  <strong>Participated:</strong>
  <%= @participation.participated %>
</p>

<p>
  <strong>Late:</strong>
  <%= @participation.late %>
</p>

<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
