<h2><%= labelize @model %></h2>
MP TESTING
<%= link_to "< " + labelize(@model).pluralize, action: :index %> 
<%= link_to "Edit", action: :edit, id: @instance.id %>
<% @field_order.each do |field_name| %>
 <p>
  <strong><%= field_name.humanize %></strong>
  <!-- if a foreign_key field, show first field of instance -->
  <%= @instance[field_name] %>
 </p>
<% end %>
<%= prev_next_links %>

