<h2>Custom <%= labelize @model %></h2>
<%= link_to "< " + labelize(@model).pluralize, action: :index %> 
<%= link_to "Edit", action: :edit, id: @instance.id %>
<% if @instance.id %> <!-- HACK. should be added because viewable -->
 <p><strong>id</strong> <%= @instance.id %></p>
<% end %>
<% @field_order.each do |field_name| %>
 <p>
  <strong><%= field_name.humanize %></strong>
  <!-- if a foreign_key field, show first field of instance -->
  <%= @instance[field_name] %>
 </p>
<% end %>
<%= prev_next_links %>

