<H1>Row</H1>
<p id="notice"><%= notice %></p>
<p>
  <strong>id:</strong>
  <%= @event.id %>
</p>

<p>
  <strong>On date:</strong>
  <%= @event.on_date %>
</p>

<p>
  <strong>At time:</strong>
  <%= @event.at_time %>
</p>

<p>
  <strong>Boat:</strong>
  <%= @event.boat.name %>
</p>

<ul>Participants
<% for (@event.participants) |p| do %>
 <li><%= p.member.name %></li> 
<% end %>
</ul>

<%= render 'participations/form' %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
