<h1>Listing member_profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @member_profiles.each do |member_profile| %>
      <tr>
        <td><%= member_profile.name %></td>
        <td><%= member_profile.member.email %></td>
        <td><%= link_to 'Show', member_profile %></td>
        <td><%= link_to 'Edit', edit_member_profile_path(member_profile) %></td>
        <td><%= link_to 'Destroy', member_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member profile', new_member_profile_path %>
