<h1><%= @model.model_name.human.pluralize %> <small> <%= link_to "New", action: :new %> </small></h1>
<%= back_button %>
<table>
  <thead>
    <tr>
      <% @field_order.each do |key| %>
       <th><%#= key %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @instances.each do |instance| %>
      <tr onclick=<%= show_instance instance %> >
        <% @field_order.each do |key| %>
         <td><%= instance[key] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>



