<h2><%= labelize @model %></h2>
<%= link_to "< " + labelize(@model).pluralize, action: :index %> 
<%= link_to "Edit", action: :edit, id: @instance.id %>

<% @field_order.each do |field_name| %>
 <p>
  <strong><%= field_name.humanize %></strong>
  <!-- if a foreign_key field, show first field of instance -->
  <% if field_name.match(/_id$/) %>  <%# assume belongs_to field and shows link %>
    <% a_inst = @instance.send(field_name[0..-4]) %>
       <%= link_to labelize_inst(a_inst), a_inst %>
  <% else %>
    <%= @instance[field_name] %>
  <% end %>
 </p>
<% end %>
<br/>

<!-- TODO: for all has_one and has_many, render partial views -->
<% @model.reflections.each do |key, field| %>
 <% key = key.to_s  %>
 <% if field.macro != :belongs_to %><!-- and not in @field_order -->
  <p><strong><%= key.humanize %></strong>
  <% val = @instance.send(key)
     if val == nil %>
       <%= "" %>
    <% else  
        view_name = key.pluralize
        #@nested_model = key.singularize.classify.constantize  # TODO: call get class on instance
        @nested_data = val
        if field.macro == :has_many
    %>
       <%= render_controller_action view_name, "index_nested" %>
    <%    elsif field.macro == :has_one %>
       <%= render_controller_action view_name, "show_nested" %>
    <%    else %>
       <%= "" %>
    <%  end %>
    <% end %>
  </p>
 <% end %>
<% end %>

<br/>
<p>Created <%= time_ago_in_words(@instance.created_at) %> ago 
   <%- if @instance.created_at != @instance.updated_at -%>, 
    modified <%= time_ago_in_words(@instance.updated_at) %> ago
   <% end %>
 </p>
<%= prev_next_links %>

