<h2><%= @model %></h2>
<%= link_to "< "+@model.name.pluralize, action: :index %> 
<%= link_to "Edit", action: :edit, id: @instance.id %>
<% @field_order.each do |field_name| %>
 <p>
  <strong><%= field_name %></strong>
  <%= @instance[field_name] %>
 </p>
<% end %>

