<h2><%= labelize @model %></h2>
<%= link_to "< " + labelize(@model).pluralize, action: :index %> 
<%= link_to "Edit", action: :edit, id: @instance.id %>
<% @field_order.each do |field_name| %>
 <p>
  <strong><%= field_name.humanize %></strong>
  <!-- if a foreign_key field, show first field of instance -->
  <%= @instance[field_name] %>
 </p>
<% end %>
 <p>Created <%= time_ago_in_words(@instance.created_at) %> ago 
   <%- if @instance.created_at != @instance.updated_at -%>, 
    modified <%= time_ago_in_words(@instance.updated_at) %> ago
   <% end %>
 </p>
<%= prev_next_links %>

