<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @boat.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @boat.seats %>
</p>

<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
