<!DOCTYPE html>
<html>
<head>
  <title>Ggr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 <h2><a href="/events">Events</a> | <a href="/participants">Participants</a> | <a href="/boats">Boats</a> </h2>

 <% if user_signed_in? %>
  <%= link_to current_user.email, "/static_pages/account" %>
 <% else %>
  <%= link_to "Login", user_session_path %> | <%= link_to "Create Login", new_user_registration_path %> </p>
 <% end %>

 <!-- <p>Current user: <%= cookies[:current_user] %></p> -->
 <div class="container">
  <%= yield %>
 </div>
</body>
</html>
