<!DOCTYPE html>
<html>
<head>
  <title>Ggr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

 <nav>
  <% all_controller_names.each do |name| %>
    <%= link_to name.humanize, "/"+name %>
  <% end %>
 </nav>

 <% if member_signed_in? %>
  <%= link_to current_member.email, "/static_pages/account" %>
 <% else %>
  <%= link_to "Login", member_session_path %> | <%= link_to "Create Login", new_member_registration_path %>
 <% end %>

 <div class="container">
  <%= yield %>
 </div>
</body>
</html>
