<!DOCTYPE html>
<html>
<head>
  <title>Ggr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 <h2><a href="/users">Users</a> | <a href="/events">Events</a> | <a href="/participants">Participants</a> | <a href="/boats">Boats</a> </h2>
 <p>Current user: <%= cookies[:current_user] %></p>
 <div class="container">
  <%= yield %>
 </div>
</body>
</html>
